.two-hundred {
    margin-left: 233px;
    transition: all 0.3s ease;
  }
  .hundred {
    margin-left: 80px;
    transition: all 0.3s ease;
  }
  .cardbag {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 41px 30px;
    position: relative;
    background: #e6f3ee;
   
  }
  .ant-menu-title-content {    
    font-size: 18px;
  }
  .maincontainer{
Width:1080px;
height:374px;
Top:214px;
Left:292px;
margin-left: 10px;
margin-top: 25px;
background: #033122;
box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
border-radius: 5px; 

}
  .line-data{
    box-sizing: border-box;
display: block;
height: 374px;
width: 100px;
margin-left: 67px;
  }
  .smallcontainer{
    margin-top: 38px;
    Width:570px;
    height:374px;
    Top:214px;
    Left:292px;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 5px; 
        /* width: 100%;
    
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
        border-radius: 8px; */
      }
      .second-charts{

        display: flex;
        justify-content: space-between;
      }

      .ant-layout .ant-layout-sider-children {
        height: 100%;
        margin-top: -0.1px;
        padding-top: 32.1px;
      }
      .ant-menu-vertical.ant-menu-root {
        box-shadow: none;
        /* background: #69a945; */
      }
      .ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
        background: #c7cacc;
        color: black;
      }
       .ant-menu-submenu {
        margin-left:  18px !important;
      }