body{
  background: #ced6d6; 

}
.login-text{
font-size: 18px;
/* color: white; */
}
.ant-form-item .ant-form-item-label > label {
   font-size: 18px;
    /* color:white; */
}
.ant-menu-dark {
  color: rgba(0, 0, 0, 0.65);
    background: #f7faff;
}
.ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #f7faff;
   }

   .ant-menu-dark .ant-menu-item-selected {
    background-color:rgb(24, 11, 11);
  }
  .ant-input-group .ant-input {   
    height: 45px;
    border-radius: 20px;
  }

  .ant-btn.ant-btn-icon-only {    
    display: none;
  }
  .ant-layout-header {
    height: 93px;   
    border-radius: 20px;
  }